.top-artists {
    margin-top: 80px;
}
.artists {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}
.artist {
    max-width: 240px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background: #3b3b3b;
}
.title-bottom{
    display: flex;
    justify-content: space-between;
}
.checkout{
   max-width: 700px;
}
.name {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
.total-sale {
    color: var(--caption-label-text, #858584);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.eth {
    color: var(--Text, #fff);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.view{
    background-color: transparent;
    border: 1px solid #A259FF;
}
.view:hover{
    cursor: pointer;
}
.view{
    padding: 20px 40px;
}
.view:active{
    cursor: pointer;
}
.view i{
    color: #A259FF;
 }
@media (max-width: 834px) {
    .none{
        display: none !important;
    }
    .artist{
        max-width: 350px;
        display: flex;
        gap: 20px;
    }
    .inform{
        text-align: start;
    }
    .artist img{
        width: 60px;
        height: 60px;
    }
    .checkout{
        max-width: 500px;
     }
     .view{
        height: 70px;
     }
}
@media (max-width: 375px){
    .artists{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 750px){
    .checkout{
        max-width: 50%;
     }
}
@media (max-width: 675px){
    .artists{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .title-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .checkout{
        max-width: 80%;
     }
     .artists{
        margin-top: -850px;
     }
     .view{
        max-width: 400px;
        margin: 0 auto;
        margin-top: 800px;
     }
}
@media (max-width: 650px){
    .top-artists{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 150px;
    }
    .title-bottom{
        display: flex;
        flex-direction: column;
    }
    .checkout{
        max-width: 80%;
     }
     .artists{
        margin-top: -720px;
     }
     .view{
        margin-top: 680px;
     }
     .seven{
        display: none;
    }
}